<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        <style>
            nav li { display: inline-block; margin: 0 0.25rem; }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('admin') }}">Admin</a></li>
                <li><a href="{{ path('app_books') }}">Books list</a></li>
                <li><a href="{{ path('api_entrypoint') }}">Books API</a></li>
            </ul>
        </nav>
        <hr>
        {% block body %}{% endblock %}
    </body>
</html>
